<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hike Watch</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='home.js')}}"></script>
    <style>
        button.right {
            float: right
        }
    </style>
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='site.webmanifest')}}">
</head>

<body>
    <div class="header" style="background-color:#0d6efd">
        <div class="container">
            <h1 class="display-1" style="color:white">Hike Watch - Sessions</h1>
        </div>
        <br />
    </div>

    <div class="container" name="graph" style="max-height:750px;">
        <canvas id="barChart"></canvas>
        <script>updateAndRender({{ data_json| safe }})</script>
    </div>
    <br />
    <div class="container text-center" style="border:1px solid #0d6efd" name="summary">
        <br /> 
        <h5 class="header">Your average session and total information</h5>
        <br />
        <h6 class="subtitle mb-2 text-muted"> Your average hiking session</h6>
        <p> Average kilometers per hike: {{ data[3] }}</p>
        <p> Average steps per hike:      {{ data[4] }}</p>
        <p> Average kcalories per hike:  {{ data[5] }}</p>     
        <br />
        <h6 class="subtitle mb-2 text-muted">Total information of your hiking sessions</h6>
        <p> Total kilometers: {{ data[0] }}</p>
        <p> Total steps:      {{ data[1] }}</p>
        <p> Total kcals:      {{ data[2] }}</p>
    </div>
    <br />

    <div class="container" name="stored-sessions">
        <br />
        <p>Currently stored sessions:</p>

        {% if sessions%}

        <ul class="list-group list-group-flush">
            {% for session in sessions %}
            <li class="list-group-item" id="{{ session.id  }}-li"> Id: {{ session.id }} -- Distance: {{ session.km }}
                kilometers
                <button type="button" class="btn btn-primary right" id="btn{{ session.id }}"
                    onclick="swapTextState({{ session.id }})">More</button> <!-- THIS IS NOT A SYNTAX ERROR EVEN THOUGH IDES MIGHT TELL YOU SO.
                    JINJA WILL PREPROCESS THE LINE TO BECOME VALID HTML/JavaScript -->
            </li>
            <div class="list-group-item list-group-item-secondary" style="display: none; color: black"
                id="{{ session.id }}">
                <p>During hiking session {{
                    session.id }}, you took a total of {{ session.steps }} steps over {{ session.km }} kilometers.
                    <button type="button" class="btn btn-danger right"
                        onclick="deleteSession({{ session.id }})">Delete</button>
                </p>
                <p>Estimated calories burnt: {{ session.kcal }} kcal.</p>
            </div>
            {% endfor %}
        </ul>

        {% else %}
        <p>There are no hiking sessions stored :(</p>
        {% endif %}
    </div>
</body>

</html>